*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

img{
    display: block;
    width: 300px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.main_title{
    text-align: center;
    margin: 30px 0;
}

.main_title h1{
    padding-bottom: 20px;
}

.main_title p{
    text-align: center;
}


.container{
    width: 1024px;
    margin: 0 auto;
}

.team_info{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.team_info > p{
    width: calc(4 * 100% / 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-weight: 700;
}